<!DOCTYPE html>
<html ng-app="visualApp">
   <head-data></head-data>
   <body>
      <div class="container" ng-view>

      </div>

      <!-- Script files -->

      <script src="/javascript/lib/jquery.min.js" charset="utf-8"></script>
      <script src="/bootstrap/js/bootstrap.js" charset="utf-8"></script>
      <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/timeLine.js" charset="utf-8"></script>
      <script src="/javascript/lib/autogrow-textarea.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular-bootstrap.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
      <script type="text/javascript" src="/javascript/controller.js"></script>
      <script src="/javascript/renderer/plotContinentChart.js"></script>
      <script src="/javascript/renderer/gdpPerCapitaBarChart.js"></script>
      <script src="/javascript/renderer/gdpStackedBarChart.js"></script>
      <script src="/javascript/renderer/plotNorthEast.js"></script>

   </body>
</html>
