<div class="tab-content" id="dashboardsContent">
  <div class="tab-pane" id={{dashboardItem.tabId}} ng-repeat="dashboardItem in dashboardItems" ng-class="{active:isActiveTab(dashboardItem.tabId)}">
    <div ng-class="row" id={{row.rowId}} ng-repeat="row in dashboardItem.rows">
      <div class = "col-lg-{{row.colWidth}}" id="{{dashboardItem.tabId + row.rowId}}col{{$index+1}}" >
        <div class = "panel panel-primary">
          <div class = "panel-heading" id = "header">
            {{row.title}}
          </div> <!-- end of panel heading -->
          <bar-chart parameters = "{{ row.url }}" chart-renderer = "{{ row.chartRenderer }}"></bar-chart>
          <hr class = hr-prop>
          <a id = "modalLink" data-toggle="modal" class="col-lg-12 col-md-12" href="#commentsDialog" data-widgetId="' {{row.widgetId}} '">more Comments....</a>
          <textarea id = "enterComments" placeholder = "Add your comments... " style = "width:80%" ></textarea>
          <button type="button" class="btn btn-warning" id="submitButton">Submit</button>

        </div>  <!-- end of panel -->
      </div> <!-- end of col -->
    </div>  <!-- end of row -->
  </div>  <!-- end of tab pane -->
</div>  <!-- end of tab content -->
